/*
Theme Name: Monument
Author: The BoldGrid Team
Theme URI: https://www.boldgrid.com/monument
Author URI: https://www.boldgrid.com/the-team
Description: Designed specifically for use with the BoldGrid suite of plugins, all BoldGrid themes are highly customizable, responsive to a wide range of devices, and of course, beautiful. Every BoldGrid theme includes five pre-selected color palettes and an advanced tool for creating your own unique palette. In addition, all themes feature multiple menu locations and widget areas, which are easily customizable to suit your needs. So if you're looking for a theme that looks great, feels modern and professional, and offers plenty of features to make it your own, you've chosen well.
Version: 1.9
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: boldgrid-monument
Template: prime
Tags: custom-background, custom-colors, custom-menu, editor-style, responsive-layout, rtl-language-support, translation-ready, boldgrid-theme-45
*/

/*------------------------------------------------------------------------
>>> TABLE OF CONTENTS:
--------------------------------------------------------------------------
# Base Styles
	## Background
	## Positioning
	## Typography
	## Titles
	## Buttons
	## Et Cetera
# Header
# Navigation
	## Main Menu
	## Other Menus
	## Social Menus
# Modules
	## Universal
	## Global
	## Alpha
	## Beta
	## Gamma
	## Delta
# Pages
# Posts
# Plugins
	## WooCommerce
# Footer
------------------------------------------------------------------------*/

/*------------------------------------------------------------------------
# Base Styles
------------------------------------------------------------------------*/
body.page-template-home .site-content {
	background-color: transparent;
}
.full-width {
	padding: 0;
}

/*-----------------------------------------------
## Positioning
-----------------------------------------------*/
.site-content {
	margin-top: -16px;
	padding: 25px;
}
.single .site-content,
.archive .site-content,
.search .site-content {
	margin-top: -16px;
}
.page-template-page_home .site-content {
	margin-top: 0;
	padding: 0 15px;
}
.hentry {
	margin: 0;
}
.error404 .site-content {
	margin-top: -15px;
}
.post-title-hidden .site-content {
	margin-top: -15px;
}
.home.post-title-hidden .site-content {
	margin-top: 0;
}
.container-fluid > .container {
	width: 100%;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 4em 2em 0;
}
.page-template-page_home .entry-content {
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1em 0;
}
p {
	margin-bottom: 15px;
}

/* sm */
@media (min-width: 768px) {
	.site-content {
		margin-top: 125px;
		padding: 25px;
	}
}

/*-----------------------------------------------
## Typography
-----------------------------------------------*/
.alt-font {
	margin: 1em 0;
}
.page-template-default .entry-title,
.title-main,
.button-primary,
.comment-reply-link,
.button-secondary,
input[type="submit"],
#commentsubmit,
.mod-beta-2 h3 {
	font-weight: bold;
}
.mod-beta p {
	font-style: italic;
}
.site-title,
.site-description,
.call-to-action h1,
.mod-alpha h2,
.mod-beta h2 {
	word-wrap: break-word;
}
.dropdown-menu > li > a {
	white-space: nowrap;
}
#menu-social li a {
	-webkit-font-smoothing: antialiased;
}
a:hover,
a:focus,
.link-secondary,
.site-footer a {
	text-decoration: underline;
}
.button-primary:hover,
.button-primary:active,
.link-secondary:hover,
.link-secondary:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.comment-reply-link:hover,
.comment-reply-link:focus,
.button-secondary:hover,
.button-secondary:focus,
#commentsubmit:hover,
#commentsubmit:focus,
.site-footer a:hover,
.site-footer a:focus {
	text-decoration: none;
}
.site-title,
.site-description,
.call-to-action,
.title-main,
.navbar-default .navbar-nav,
.navbar-default .navbar-nav .open .dropdown-menu,
.page-template-default .entry-title,
#secondary-menu,
#tertiary-menu,
.menu-social,
.mod-divider p,
.mod-beta-2,
.mod-delta p,
.site-footer,
.site-info,
.attribution,
.footer-center-items,
.xs-center,
.mod-img,
.mod-img-circle,
.p-button-primary,
.p-button-secondary {
	text-align: center;
}
.mod-alpha h2,
.mod-alpha p,
.woocommerce .product_title,
#footer-widget-area {
	text-align: left;
}

/* sm */
@media (min-width: 768px) {
	.navbar-default .navbar-nav,
	.navbar-default .navbar-nav .open .dropdown-menu {
		text-align: left;
	}
}

/* md */
@media (min-width: 992px) {
	.xs-center,
	.mod-img,
	.mod-img-circle,
	.p-button-primary,
	.p-button-secondary {
		text-align: left;
	}
	.title-main,
	.mod-alpha h2,
	.mod-alpha p,
	.site-footer,
	.site-info,
	.attribution {
		text-align: right;
	}
	.dropdown-menu > li > a {
		white-space: normal;
	}
}

/*-----------------------------------------------
## Titles
-----------------------------------------------*/
.page-template-page_home .entry-title {
	display: none;
}
.page-template-default .entry-title {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 15px;
}
.page-template-default .entry-title a {
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.title-main {
	border-bottom: 1px solid #333;
	color: #333;
	border-top: 1px solid #333;
	margin: 0;
	padding: 20px 0;	
}

/* sm */
@media (min-width: 768px) {
	.page-template-default .entry-title {
		color: #fff;
		margin-top: -110px;
		margin-bottom: 30px;
		padding-bottom: 15px;
	}
	.entry-title a,
	.entry-title a:hover,
	.entry-title a:focus {
		border-bottom: none;
		text-decoration: none;
		color: #fff;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	}
}

/*-----------------------------------------------
## Buttons
-----------------------------------------------*/
.button-primary,
.comment-reply-link,
.button-secondary,
input[type="submit"],
#commentsubmit {
	margin-top: 25px;
	padding: 10px 40px;
}

/* Positioning */
.p-button-primary,
.p-button-secondary {
	display: flex;
	margin: 25px 0;
}
.panel-footer {
	padding: 25px 15px;
}

/* Block vs. Inline */
.button-primary,
.button-secondary {
	display: block;
	margin-top: 15px;
}

/* Call to Action */
.call-to-action {
	margin-top: 15%;
	margin-bottom: 25%;
}
.call-to-action .p-button-primary {
	margin-top: 0;
}
.flexbox .call-to-action .p-button-primary {
	justify-content: center;
}
.no-flexbox .call-to-action .p-button-primary .button-primary {
	margin: 15px auto 0;
}
.call-to-action h1 {
	color: #fff;
	margin-bottom: 25px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* sm */
@media (min-width: 768px) {
	.button-primary,
	.button-secondary,
	.call-to-action .p-button-primary {
		display: inline;
		margin-top: 0;
	}
	.gridblock .p-button-primary,
	.gridblock .p-button-secondary {
		margin: 25px 0;
	}
}

/*-----------------------------------------------
## Et Cetera
-----------------------------------------------*/
hr {
	height: 1px;
	border: 0;
}
.gridblock .heading-alt {
	color: #738599;
}

/*------------------------------------------------------------------------
# Header
------------------------------------------------------------------------*/
.site-title {
	margin-top: 50px;
}
.site-branding .site-title a.logo-site-title {
	border: 0;
}

/*------------------------------------------------------------------------
# Navigation
------------------------------------------------------------------------*/

/*-----------------------------------------------
## Main Menu
-----------------------------------------------*/
/* Typography */
#site-navigation {
	z-index: 1;
}

/* Nav Reset */
.navbar {
	min-height: 0;
	border: none;
	border-radius: 0;
	background-color: none;
}
.navbar-default {
	margin-top: 50px;
	margin-bottom: 20px;
	background: none;
}
.navbar-default .navbar-nav {
	margin-left: -15px;
}

/* Links */
.navbar-default .navbar-nav > li > a {
	display: inline-block;
	padding: 10px;
	transition: all .5s ease;
}
.navbar-default .navbar-nav > li:first-child > a {
	margin-left: 0;
}

/* Hover & Active */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background: none;
}

/* Vertical Navigation */
.sidebar-nav {
	position: relative;
	margin-right: -15px;
	margin-left: -15px;
}

/* sm */
@media (min-width: 768px) {
	/* Dropdown Child Default */
	.navbar-default {
		float: left;
	}
	.navbar-nav > li {
		float: left;
	}
	.navbar-nav > li.menu-social {
		float: none;
	}
}

/* md */
@media (min-width: 992px) {
	.navbar-nav > li {
		float: none;
	}
	.dropdown-menu {
		position: static;
		top: 0;
		left: 100%;
		float: none;
	}
	.sidebar-nav {
		position: fixed;
		z-index: 1;
		overflow: auto;
		padding-top: 25px;
		width: 25%;
		height: 100%;
	}
}

/*-----------------------------------------------
## Other Menus
-----------------------------------------------*/
#secondary-menu a,
#tertiary-menu a {
	padding: 0 8px;
}
#secondary-menu,
#tertiary-menu {
	background: none;
}
.footer-center-items li::after,
.boldgrid-framework-menu li::after {
	content: "";
}

/*-----------------------------------------------
## Social Menus
-----------------------------------------------*/
.menu-social {
	clear: both;
}
ul#menu-social-items {
	padding: 1em 0;
}
.menu-social li {
	padding: 0 1em;
}

/*------------------------------------------------------------------------
# Modules
------------------------------------------------------------------------*/

/*-----------------------------------------------
## Global
-----------------------------------------------*/
.mod-divider {
	border-top: 1px solid #333;
	margin: 4em 0;
}
.mod-divider p {
	margin-top: -45px;
}
.mod-icon-circle i {
	padding: 15px;
	border: 2px solid #333;
	border-radius: 50%;
}
.mod-icon-circle .fa-lightbulb-o {
	padding: 15px 20px;
}
.mod-blockquote {
	border-left: 7px solid #333;
}
blockquote,
.mod-blockquote {
	padding-top: 0;
	padding-bottom: 0;
}
blockquote p,
.mod-blockquote p {
	padding-left: 15px;
}

/*-----------------------------------------------
## Alpha
-----------------------------------------------*/
.background-alpha {
	margin-right: -15px;
	margin-left: -15px;
}
.mod-alpha {
	/* Flex */
	display: flex;
	flex-direction: column;

	justify-content: center;
}
.mod-alpha p {
	padding-left: 0;
}

/* xs */
.mod-alpha {
	padding: 15px;
}
.mod-alpha h2 {
	padding-bottom: 15px;
}

/* md */
@media (min-width: 992px) {
	.mod-alpha h2 {
		padding-bottom: 40px;
	}
	.mod-alpha p {
		padding-left: 32%;
	}
}

/*-----------------------------------------------
## Beta
-----------------------------------------------*/
.background-beta {
	margin-right: -15px;
	margin-left: -15px;
}
.mod-beta {
	margin-bottom: 50px;
}
.mod-beta h2 {
	margin-top: 0;
	padding-bottom: 20px;
}
.mod-beta p {
	width: 75%;
}
.mod-beta-2 {
	padding-bottom: 25px;
}
.mod-beta-2 img {
	width: 100%;
	height: auto;
}

/* md */
@media (min-width: 992px) {
	.mod-beta-2 img {
		padding: 0 25px;
	}
}

/*-----------------------------------------------
## Gamma
-----------------------------------------------*/
.background-gamma {
	margin-right: -15px;
	margin-left: -15px;
}

/*-----------------------------------------------
## Delta
-----------------------------------------------*/
.background-delta {
	margin-right: -15px;
	margin-left: -15px;
	padding: 15px;
}
.mod-delta p {
	padding: 0 42px;
}

/* Diamond Shape */
.mod-delta-1,
.mod-delta-1 div {
	overflow: hidden;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	transform-origin: 50% 50%;
}
.mod-delta-1 {
	/* IE 9 */ /* Chrome, Safari, Opera */
	transform: rotate(45deg) translateY(10px);
}
.mod-delta-1 .mod-delta-2 {
	width: 355px; /* IE 9 */ /* Chrome, Safari, Opera */
	height: 355px;
	transform: rotate(-45deg) translateY(-74px);
}
.mod-delta-1 .mod-delta-2 img {
	width: 80%;
	height: auto;
}
.mod-delta-bg {
	margin: 80px auto;
	padding-left: 10px;
	width: 200px;
	height: 200px;
}

/* md */
@media (min-width: 992px) {
	.mod-delta-1,
	.mod-delta-1 div {
		width: 190px;
		height: 190px;
	}
}

/*------------------------------------------------------------------------
# Pages
------------------------------------------------------------------------*/
/* 404 page */
.error404 .jumbotron {
	background-color: transparent;
}

/* Search Results */
.search .jumbotron {
	background: none;
	text-align: center;
}

/*------------------------------------------------------------------------
# Posts
------------------------------------------------------------------------*/
.widget-area {
	margin-top: 25px;
	padding: 25px;
	list-style: none;
	border: 1px solid #ccc;
}
.widget {
	clear: both;
}
.header-widgets-1,
.header-widgets-2,
.header-widgets-3,
.header-widgets-4 {
	float: left;
	clear: both;
	width: 100%;
}

/* Comments */
.comment-form-comment label {
	float: left;
	padding-right: 15px;
}

/* Buttons */
.form-submit .submit {
	background: #ccc;
	color: #337ab7;
	margin-bottom: 10px;
}
.form-submit .submit:hover,
.form-submit .submit:focus {
	color: #ccc;
	background: #337ab7;
}
#header-widget-area {
	margin: 0 10px;
}

/* xs */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	width: 17%;
}

/* md */
@media (min-width: 992px) {
	.table > thead > tr > th,
	.table > tbody > tr > th,
	.table > tfoot > tr > th,
	.table > thead > tr > td,
	.table > tbody > tr > td,
	.table > tfoot > tr > td {
		padding: 4px;
	}
}

/*------------------------------------------------------------------------
# Plugins
------------------------------------------------------------------------*/

/*-----------------------------------------------
## WooCommerce
-----------------------------------------------*/
.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
	float: left;
	width: 42%;
}

.woocommerce-account p.order-again .btn.button-primary {
	padding: 12px 24px;
}

/*------------------------------------------------------------------------
# Footer
------------------------------------------------------------------------*/
.site-footer {
	padding: 20px 0;
	margin-left: 25%;
}
.site-info {
	margin-bottom: -10px;
}
.footer-center-items {
	padding-left: 0;
}
.footer-center-items li a {
	padding: 5px;
}
.attribution {
	padding-bottom: 30px;
}
.disabled-footer .content-area {
	margin-bottom: 0;
}
.palette-primary.home .entry-footer {
	margin-left: -15px;
	width: calc(100% + 30px);
}

@media (max-width: 992px) {
	.site-footer {
		margin: 0;
	}
}
